/* google font */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

body{
    background-color: black;
    color: white;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 0;
    margin: 0;
    padding-top: 100px;
    
    /* font family-------- */
    font-family: "Hind Siliguri", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.container{
    border: 1px solid rgb(89, 89, 89);
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    padding: 20px;
    gap: 20px;
    border-radius: 5px;
}
.counters{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border: 1px solid rgb(89, 89, 89);
    padding: 10px;
    border-radius: 5px;
    width: 130px !important;
    height: 100% ;
    box-sizing: border-box;
    text-align: center;
    background-color: #232323;
}
textarea{
    background-color: #232323;
    color: white;
    height: 200px;
    width: 500px;
    resize: none;
    padding: 5px;
    border-radius: 5px;
}
.counterscontainer{
    display: grid;
    grid-template-columns: auto auto ;
    gap: 10px;
    box-sizing: border-box;
}

@media(max-width:768px){
    .container{
        flex-direction: column !important;
    }

}